<div class="row" id="indexMenuRow">
  <div class="small-12 medium-6 column">
    <div style="border:2px black solid;font-size:1.5em;font-weight:bold;text-align:center;">
      Simplex reflection groups
    </div>
    <a href="/triangulation">
      <img src="images/rainbow.svg" width="100%" alt="rainbow simplex"/>
      <div style="background-color:rgb(230,230,230);border:1px black solid;">
        Visualize the action of a simplex reflection group for triangles.
        Euclidian and hyperbolic cases are implemented and some coloring
        options for euclidian triangulations.
      </div>
    </a>
  </div>
  <div class="small-12 medium-6 column">
    <div style="border:2px black solid;font-size:1.5em;font-weight:bold;text-align:center;">
      Schottky-Groups / closed surfaces
    </div>
    <a href="/schottky">
      <img src="images/closed.svg" width="100%" alt="rainbow simplex"/>
      <div style="background-color:rgb(230,230,230);border:1px black solid;">
          Schottky-stuff from ginger-boy
      </div>
    </a>
  </div>
</div>

